@media (min-width: 1200px) {
    @import "vars";

    .navmobile, .overflow__general{
        display: none;
    }
    
    body{
        font-family: 'Ubuntu';
        margin: 0;
        background-color: $darkblue500;
        background: url(../images/bgerror.svg);
    }

// Barre de navigation, à gauche le logo
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;

        button{
            background: $darkblue500;
            color: $white;
            padding: 10px 55px;
            border: none;
            border-radius: 50px;
            font-size: 24px;
            display: flex;
            align-items: center;
            gap: 20px;
            cursor: pointer;
        }

// Création d'une classe qui englobe le menu déroulant + le logo utilisateur et son rectangle en arrière-plan.
        .navright{
            display: flex;
            justify-content: space-between;
            gap: 50px;
        }

        .navright__rectangle{
            margin-top: -150px;
        }
    }

// Barre de recherche

.search{
    display: flex;
    align-items: center;
    justify-content: center;

    .search__input{
        background: $gray100;
        border: none;
        border-radius: 50px;
        padding: 10px 60px;
        font-size: 28px;
        color: white;
    }

    .search__search{
        cursor: pointer;
    }
}

// Menu déroulant

.dropdown {
    margin-top: 50px;

    &__button {
        cursor: pointer;
        background-color: $darkblue500;
        color: $white;
        border-radius: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 65px;
        width: 110px;
        font-size: 28px;
    }

    &__menu {
        position: absolute;
        z-index: 10;
        display: none;
        margin-top: 10px;
        background-color: $darkblue500;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        padding: 15px 0;
        width: 280px;

        ul {
            list-style: none;
            padding: 0 10px;
            margin: 0;

            li {
                line-height: 35px;

                a {
                    display: flex;
                    align-items: center;
                    color: $white;
                    padding: 0 10px;
                    text-decoration: none;
                    transition: background-color 1s;

                    &:hover {
                        background-color: $gray100;
                        border-radius: 6px;
                        cursor: pointer;
                    }
                }
            }
        }

        &--title {
            text-transform: uppercase;
            font-size: 0.85em;
            color: $gray300;
            padding: 0 10px;
        }

        &--separator {
            border-top: 1px solid $gray100 ;
            margin: 15px 0;
        }

        &--open {
            display: block;
            width: 240px;
        }
    }

    }

// Contenu principal

.overflow__general__web{
    background-color: #0b0c239f;
    padding: 20px;
}

.overflow__general__web__top, .overflow__general__web__bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;

    .overflow__general__web__img{
        width: 200px;
        border-radius: 20px;
    }
}

.overflow__general__web__genretitle{
    color: white;
}

.overflow__general__web__arrows{
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.titlegenreweb{
    font-size: 45px;
    color: white;
    margin: 20px;
    margin-bottom: 50px;
}

.oveflow__general__web__numerotation{
    text-align: center;
    font-size: 34px;
    color: white;
    font-weight: 400;
    margin-bottom: 0;
}

// Ici on s'occupe du footer

    footer{
        padding: 60px;
    
        a{
            color: $white;
            text-decoration: none;
            transition: color 1s;
        }
        
        a:hover{
            color: $orange300;
        }
        
        h2{
            text-align: center;
            color: $white;
            font-weight: 500;
        }
    
        .links__footer{
            display: flex;
            justify-content: left;
            gap: 50px;
            align-items: center;
        }

        .links__footer__a{
            display: flex;
            gap: 50px;
        }
    }
}