$red100: #ff0000; //Couleur d'erreur pour le formulaire d'inscription & et de connexion
$red300: #D22542; //Couleur permettant la graduation
$darkblue700: #000000; //Couleur permettant la graduation
$darkblue500: #0B003A; //Couleur permettant la graduation
$darkblue300: #141039; //Couleur permettant la graduation
$darkblue100: #40318C; //Couleur permettant la graduation
$orange100: #FBB56E; //Couleur permettant la graduation
$orange300: #FA8A32; //Couleur permettant la graduation
$pink100: #FBDDEA; // Utilisé pour le background des inputs de la page inscription/connexion
$pink300: #CC3F66; //Couleur permettant la graduation
$pink500: #ED257A; //Couleur permettant la graduation
$purple100: #7F0F4D; //Couleur permettant la graduation
$purple300: #80184E; //Couleur permettant la graduation
$purple500: #4D1951; //Couleur background
$black100: #352640; //Couleur background
$black300: #010101; //Couleur permettant la graduation
$black500: #000000; //Couleur utilisé notamment pour quelques hovers sur les boutons
$lightgray: #EAEAEA; //Couleur pour la police de fond sur le site
$gray100: #5C5C5C; // Couleur pour la barre de recherche 
$gray300: #7B7B7B; // Couleur pour la barre de recherche
$lightblue100: #41C6C9; // Couleur pour l'icône de recherche avec la loupe
$white: #FFFFFF; // Couleur par défaut pour des hovers, par exemple